{% extends "base.html" %}

{% block title %}Keep track; it counts. Karma Counter.{% endblock %}

{% block pageheader %}Welcome to Karma Counter{% endblock %}

{% block main %}

	<h2>Please login or sign up!</h2>
	{% if not is_logged_in %}
		{% include 'registration/login.html' %}
	{% else %}
		<a href="{% url karma.views.logout %}">Logout</a>
	{% endif %}

	<h2>Check out the recent activity!</h2>
	<ul>
	{% for point in points %}
		<li>{{ point.created_ts }} &ndash; {{ point.value }} to <a href="{% url karma.views.dashboard user_id=point.user.id %}">{{ point.user }}</a></li>
	{% endfor %}
	</ul>

{% endblock %}
