<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Karma Counter. Yeah!</title>
</head>
<body>
<h1>All of them!</h1>
   {% if not is_logged_in %}
   {% include 'registration/login.html' %}
   {% else %}
   <a href="{% url karma.views.logout %}">Logout</a>
   {% endif %}
	<ul>
	{% for point in points %}
		<li>{{ point.created_ts }} &ndash; {{ point.value }} to <a href="{% url karma.views.dashboard user_id=point.user.id %}">{{ point.user }}</a></li>
	{% endfor %}
	</ul>
</body>
</html>
