@charset "UTF-8";

body{
    background: #e5e4e1 url('../images/bg-tile.png') repeat-x;
    font-family: Verdana, sans-serif;
    color: #5a5144;
	font-size: .625em;
}

#pagewrap{
    width: 960px;
    margin: 0 auto;
}

#logo{
    height: 70px;
    width: 330px;
    background: url('../images/karma-counter-logo.png') no-repeat;    
    text-indent: -9999px;
}

#logo a{
    display: block;
    height: 70px;
    width: 330px;
}

#header{
    border-bottom: 1px dotted #5a5144;
    margin-bottom: 30px;
}

#content{
    font-size: 1.4em;
    margin-bottom: 40px;
}

#footer{
    border-top: 1px dotted #5a5144;
    padding: 5px 0;
    font-size: 1.2em;
    text-align: right;
}

#footer p{
    float: right; 
    clear: right; 
    line-height: 1.4; 
    margin:0;
}