{% extends "base.html" %}

{% block title %}Karma Counter for {{ user }}{% endblock %}

{% block head %} 
<link rel='stylesheet' type='text/css' href='Flot.css' />
{% endblock %}


{% block pageheader %}{{ user }}{% endblock %}

{% block main %}

	<p>{{ total_points }}</p>

	<figure id="chart"></figure>

	<ul>
	{% for point in points %}
		<li>{{ point.get_value_display }} <time class="time" datetime="{{ point.created_ts }}">{{ point.created_ts|timesince }} ago</time></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block js %}
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jquery.flot.js"></script>

<script type="text/javascript" charset="utf-8">
	$(function() {
		var p = [
			{% for point in points %}
				[{{ point.created_ts }}, {{ point.value }}], 
			{% endfor %}
		]
		$.plot($("#chart"), [p], { xaxis: { mode: "time" } });	
	})
</script>

{% endblock %}